body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #0B2447;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;

}
.task-title {
    text-align: center;
}
 .task-input {
    width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.task-input > button {
    width: 100px;
    margin: 0;
    background-color: #576CBC;
    border: 5px solid black;
    border-radius: 1%;
    font-weight: bold;
}
#input-bar {
    width: 400px;
    padding: 15px;
    border: 5px solid black;
    border-radius: 1%;
    color: #A5D7E8;
    font-weight: bold;
    font-size: 15px;
}
.task-container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.button-set {
    display: flex;
    margin: 30px auto;
}
.button-set > button {
    padding: 5px;
    margin: auto;
    border-radius: 1%;
}
.completed {
    background-color: #36AE7C;
    border: 5px solid black;
    border-radius: 1%;
    font-weight: bold;
}
.removed {
    background-color: #EB5353;
    border: 5px solid black;
    border-radius: 1%;
    font-weight: bold;
}
.pending {
    background-color: #4D96FF;
    border: 5px solid black;
    border-radius: 1%;
    font-weight: bold;
}